.reset-password-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1c1e;
    margin: 0;    
}

.reset-password-form{
    background-color: #ffffff16;
    border: 1px solid #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: calc(1em + 8px);
}

.reset-password-header{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    padding: 10px;
    border: none;    
    border-bottom: 1px solid white;
    font-size: 14px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

input::placeholder{
    color: #ddd;
    font-size: 12px;
}

input:hover, input:focus{
    border-bottom: 1px solid #50b7ef;
}

.reset-password-button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #50b7ef;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-button:hover{
    background-color: #409edc;
}

.reset-password-error-message{
    color: #ff4d4d;
    font-size: 14px;    
    margin-top: -10px;
}
