.home-body{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1c1e;
    gap: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;    
}